# The loopback network interface
auto lo
iface lo inet loopback

# 1st PUBLIC NIC
auto eth0
iface eth0 inet static
# In the next line replace 10.10.10.X with the PUBLIC IP ADDRESS
	address 10.10.10.X
	netmask 255.255.255.0
	gateway 10.10.10.1
	broadcast 10.10.10.255
	dns-nameservers 90.147.66.84
	dns-search ba.infn.it
	network 10.10.10.0


# PRIVATE NIC
auto eth1
iface eth1 inet static
# In the next line replace 10.10.20.X with the PRIVATE IP ADDRESS
	address 10.10.20.X
	netmask 255.255.255.0


## 2nd PUBLIC NIC
#auto eth2
#iface eth2 inet static
## In the next line replace 10.10.30.X with the PUBLIC IP ADDRESS OF THE 2nd PUBLIC INTERFACE
#	address 10.10.30.X
#	netmask 255.255.255.0
#	gateway 10.10.10.1
#	broadcast 10.10.30.255
#	dns-nameservers 90.147.66.84
#	dns-search ba.infn.it
#	network 10.10.30.0
